Repository redhat-openshift-builds/shipwright-io: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Path conditions:
  openshift-builds-controller-on-pull-request: ((any of: build/version/|build/pkg/controller/|build/pkg/client|build/pkg/reconciler|build/pkg/volumes|build/pkg/validate|build/pkg/env|build/pkg/metrics/|build/pkg/apis/|build/pkg/config/|build/pkg/ctxlog/|build/cmd/shipwright-build-controller/|.konflux/controller/) or (any of: build/go.mod|build/go.sum)) or (any of: .tekton/openshift-builds-controller-pull-request.yaml)
  openshift-builds-git-cloner-on-pull-request: ((any of: build/cmd/git/|build/pkg/git/|.konflux/git-cloner/) or (any of: build/go.mod|build/go.sum)) or (any of: .tekton/openshift-builds-git-cloner-pull-request-test.yaml)

Add Konflux configs
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/git-cloner/rpms.in.yaml
  .konflux/git-cloner/rpms.lock.yaml
  .konflux/git-cloner/ubi.repo
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/waiter/rpms.in.yaml
  .konflux/waiter/rpms.lock.yaml
  .konflux/waiter/ubi.repo
  .konflux/webhook/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Add builds-1.3 changes
  .gitmodules
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request

FIPS changes
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Update dependencies in RPM lockfile
  .konflux/git-cloner/rpms.lock.yaml
Due: openshift-builds-git-cloner-on-pull-request

Update konflux references (cherry pick #15) Manual cherry-pick of #15
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request

Update UBI9 image
  .konflux/git-cloner/Dockerfile
  .konflux/git-cloner/rpms.lock.yaml
Due: openshift-builds-git-cloner-on-pull-request

BUILD-1340: Update git-cloner rpms.lock.yaml
  .konflux/git-cloner/rpms.lock.yaml
Due: openshift-builds-git-cloner-on-pull-request

Add pipeline as reference
  .konflux/controller/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
Due: openshift-builds-controller-on-pull-request

Add pipeline as reference
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request

Fix repository names in ubi.repo file
  .konflux/git-cloner/rpms.lock.yaml
  .konflux/git-cloner/ubi.repo
  .konflux/waiter/rpms.lock.yaml
  .konflux/waiter/ubi.repo
Due: openshift-builds-git-cloner-on-pull-request

Update golang builder image to 1.23
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Fix multi-arch build
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Create builds 1.4 release branch
  .gitmodules
  .konflux/git-cloner/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Move RPM lockfile to root
  .konflux/git-cloner/rpms.in.yaml
  .konflux/waiter/rpms.lock.yaml
  .konflux/waiter/ubi.repo
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: openshift-builds-git-cloner-on-pull-request

BUILD-1416: Fix permission issue and PATH
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Konflux build pipeline service account migration for openshift-builds-controller Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
Due: openshift-builds-controller-on-pull-request

Konflux build pipeline service account migration for openshift-builds-git-cloner Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
Due: none

Konflux build pipeline service account migration for openshift-builds-image-bundler Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
Due: none

Konflux build pipeline service account migration for openshift-builds-image-processing Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
Due: none

Konflux build pipeline service account migration for openshift-builds-waiter Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
Due: none

Konflux build pipeline service account migration for openshift-builds-webhook Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: none

testing nudges
  .tekton/openshift-builds-controller-pull-request.yaml
Due: openshift-builds-controller-on-pull-request

testing nudges
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
Due: openshift-builds-controller-on-pull-request

updated pipelines for builds-1.5 release
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request

updated git submodules to shipwright 0.16 release branch
  .gitmodules
Due: none

updated ubi minimal and go toolset images
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

regenerated rpm lock file
  rpms.lock.yaml
Due: none

updated pipelines for builds-1.5 release updated git submodules to shipwright 0.16 release branch updated ubi minimal and go toolset images regenerated rpm lock file
  .gitmodules
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
  rpms.lock.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

updated ubi and go toolset images to use tags, regenerated rpm lock file and added instructions on how to regenerate rpm lockfile in mac
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  README.md
  rpms.lock.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request
