Repository redhat-openshift-builds/shipwright-io: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

openshift-builds-controller-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-builds-tenant/openshift-builds-controller:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

openshift-builds-git-cloner-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-builds-tenant/openshift-builds-git-cloner:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Updated pipelines for builds-1.5 release
  .gitmodules
  .konflux/git-cloner/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

fix: update product version in docker images tag
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Create release branch for builds 1.6
  .gitmodules
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
  renovate.json
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Fix git-cloner container build issue
  rpms.lock.yaml
Due: none

fix: update dockerfile label version to 1.5.0
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-webhook-1-5
  .konflux/webhook/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-waiter-1-5
  .konflux/waiter/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-image-processing-1-5
  .konflux/image-processing/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-image-bundler-1-5
  .konflux/image-bundler/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-git-cloner-1-5
  .konflux/git-cloner/Dockerfile
Due: openshift-builds-git-cloner-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-controller-1-5
  .konflux/controller/Dockerfile
Due: openshift-builds-controller-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-webhook-1-4
  .konflux/webhook/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-waiter-1-4
  .konflux/waiter/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-image-processing-1-4
  .konflux/image-processing/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-image-bundler-1-4
  .konflux/image-bundler/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-git-cloner-1-4
  .konflux/git-cloner/Dockerfile
Due: openshift-builds-git-cloner-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-controller-1-4
  .konflux/controller/Dockerfile
Due: openshift-builds-controller-on-pull-request

update CPE label for builds-1.6 images
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

feat: add files for openshift-builds-client
  .konflux/client/Dockerfile
  hack/build-binary.sh
Due: none

Update go-toolset image
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

BUILD-1671: update go version to fix CVE-2025-58183
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  rpms.lock.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

chore: update rpm lock files and ubi-minimal image
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  rpms.lock.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

fix: use pinned reference for base images
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  rpms.lock.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

fix: update pipeline to trigger on submodule update
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

init 1.7 release branch
  .gitmodules
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

[BUILD-1799] fix: update base images for security patch
  .konflux/controller/Dockerfile
  .konflux/git-cloner/Dockerfile
  .konflux/image-bundler/Dockerfile
  .konflux/image-processing/Dockerfile
  .konflux/waiter/Dockerfile
  .konflux/webhook/Dockerfile
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

feat: add files for openshift-builds-client
  .konflux/client/Dockerfile
  .tekton/openshift-builds-client-pull-request.yaml
  .tekton/openshift-builds-client-push.yaml
  hack/build-binary.sh
Due: none

fix: trigger pipeline on submodule updates
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

fix: trigger pipeline on submodule updates
  .tekton/openshift-builds-client-pull-request.yaml
  .tekton/openshift-builds-client-push.yaml
  .tekton/openshift-builds-controller-pull-request.yaml
  .tekton/openshift-builds-controller-push.yaml
  .tekton/openshift-builds-git-cloner-pull-request.yaml
  .tekton/openshift-builds-git-cloner-push.yaml
  .tekton/openshift-builds-image-bundler-pull-request.yaml
  .tekton/openshift-builds-image-bundler-push.yaml
  .tekton/openshift-builds-image-processing-pull-request.yaml
  .tekton/openshift-builds-image-processing-push.yaml
  .tekton/openshift-builds-waiter-pull-request.yaml
  .tekton/openshift-builds-waiter-push.yaml
  .tekton/openshift-builds-webhook-pull-request.yaml
  .tekton/openshift-builds-webhook-push.yaml
Due: openshift-builds-controller-on-pull-request, openshift-builds-git-cloner-on-pull-request

Path conditions:
  openshift-builds-controller-on-pull-request: ((any of: build/version/|build/pkg/controller/|build/pkg/client|build/pkg/reconciler|build/pkg/volumes|build/pkg/validate|build/pkg/env|build/pkg/metrics/|build/pkg/apis/|build/pkg/config/|build/pkg/ctxlog/|build/cmd/shipwright-build-controller/|.konflux/controller/) or (any of: build/go.mod|build/go.sum)) or (any of: .tekton/openshift-builds-controller-pull-request.yaml)
  openshift-builds-git-cloner-on-pull-request: ((any of: build/cmd/git/|build/pkg/git/|.konflux/git-cloner/) or (any of: build/go.mod|build/go.sum)) or (any of: .tekton/openshift-builds-git-cloner-pull-request.yaml)
